:root {
  --modal-width: 320px;
  --modal-height: 384px;
  --modal-bg: rgb(255, 255, 255);
  --modal-border: 1px solid rgba(175, 175, 175, 0.4);
}

.exit-wrapper {
  font-size: 24px;
  width: 24px;
  height: 24px;
  line-height: 24px;
  align-self: flex-end;
  cursor: pointer;
}
.show {
  opacity: 1;
}
